<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Data Mulan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Data Mulan </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item (click)="logout()" style="cursor: pointer;">
    <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>
  <!-- button tambah -->
  <ion-card>
    <ion-button (click)="openModalTambah(true)" expand="block" color="tertiary"
      >Tambah Mulan
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-card>
  <!-- modal tambah -->
  <ion-modal [isOpen]="modalTambah" (ionModalDidDismiss)="cancel()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Mulan</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nama Mulan"
            labelPlacement="floating"
            required
            [(ngModel)]="nama"
            placeholder="Masukkan Nama Mulan"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Story" labelPlacement="floating" placeholder="Enter story" required [(ngModel)]="story">
          </ion-textarea>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="tambahMulan()"
              color="tertiary"
              shape="full"
              expand="block"
              >Tambah Mulan
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-card *ngFor="let item of dataMulan">
    <ion-item>
      <ion-label>
        {{item.nama}}
        <p>{{item.story}}</p>
      </ion-label>
      <ion-button
        expand="block"
        (click)="openModalEdit(true,item.id)"
        color="tertiary"
        >Edit</ion-button
      >
      <ion-button
        id="hapus-mulan"
        color="danger"
        slot="end"
        (click)="konfirmasiHapus({id: item.id, nama: item.nama, story: item.story})"
        >Hapus</ion-button
      >
    </ion-item>
  </ion-card>

  <!-- ini untuk modal edit -->
  <ion-modal [isOpen]="modalEdit" (ionModalDidDismiss)="cancel()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Mulan</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nama Mulan"
            labelPlacement="floating"
            required
            [(ngModel)]="nama"
            placeholder="Masukkan Nama Mulan"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Story" labelPlacement="floating" placeholder="Enter story" required [(ngModel)]="story">
          </ion-textarea>
        </ion-item>
      <ion-input required [(ngModel)]="id" type="hidden"> </ion-input>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="editMulan()"
              color="tertiary"
              shape="full"
              expand="block"
              >Edit Mulan
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
